.header {
  position: relative;
  height: 100%;
  background-image: linear-gradient(#ff9f0f, #ff9f0f);
  overflow: hidden;
}

svg {
  position: absolute;
  bottom: 0;
  width: 150%;
  height: 10vw;
  /* set height to pixels if you want angle to change with screen width */
}